#navbar a{
  padding: 5px 10px;
  margin: 2px 5px;  
  font-size: 0.9em;
  color: white
}

#navbar{
    background-color: #333;
    min-height:35px;
}

#navbar a:hover{
    background-color: black;
}


