#navbar a{
  padding: 5px 10px;
  margin: 2px 5px;  
  font-size: 0.84em;
  color: white
}

#navbar{
    background-color: #333;
    min-height:35px;
    margin: 0px;
    border-radius: 0px;
    border: 0px;
}

#navbar a:hover{
    background-color: black;
}

#logo-div{
   margin: 0px;
   padding: 0px;
   background: -moz-linear-gradient(45deg, rgba(255,13,49,1) 7%, rgba(214,9,37,1) 33%, rgba(128,3,13,1) 89%, rgba(128,3,13,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(7%, rgba(255,13,49,1)), color-stop(33%, rgba(214,9,37,1)), color-stop(89%, rgba(128,3,13,1)), color-stop(100%, rgba(128,3,13,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(255,13,49,1) 7%, rgba(214,9,37,1) 33%, rgba(128,3,13,1) 89%, rgba(128,3,13,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(255,13,49,1) 7%, rgba(214,9,37,1) 33%, rgba(128,3,13,1) 89%, rgba(128,3,13,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(255,13,49,1) 7%, rgba(214,9,37,1) 33%, rgba(128,3,13,1) 89%, rgba(128,3,13,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(255,13,49,1) 7%, rgba(214,9,37,1) 33%, rgba(128,3,13,1) 89%, rgba(128,3,13,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80030D', endColorstr='#FF0D31',GradientType=1 ); /* ie6-9 */
}

#logo-div img{
   max-width: 130px;
   max-height: 100px; 
}

#logo-div h1{
    font-family: 'Secular One', sans-serif;
    color: white;
    padding: 0px;
    margin:5px 0 0 0;
    text-shadow: 1px 2px black;    
}

#logo-div h4{
    padding: 0px;
    margin-top: 0px;
    color: white
}

.logo-text-area{
    padding: 0px !important;
}

.carousel-inner img{
    height: 273px !important;
    width: 100%;
}

.carousel-caption{
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
    font-size: 25px;
    color: white;
    text-shadow: 1px 1px black;
}

figure img {
    width: 100%;
}

figure {
    text-align: center;
    display: table;
    max-width: 30%; 
    margin: 10px auto;
}
    
.affiliations{
    margin: 5px 5px 0px 5px;;
    background-color: #ededed;
}

#special-categories div{
   padding: 5px;
   margin-top: 5px;  
}

.left-right{
     background-color: #ededed;
}

.left-right:hover{
    border: 1px solid black;
}
#special-categories a{
    color: black;
    font-size: 1.2em;
}

#tiles .col-xs-5, #tiles .col-xs-3{
    background-color: #ededed;
    margin: 0 5px 5px 0;
    min-height: 80px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
     
}
#tiles h4{
    margin: 10px 0 0 0;
}





/*For small devices*/
@media (max-width: 992px) { 
#logo-div img{
    max-width: 100px;
    max-height: 80px; 
}

#logo-div h1{
    font-family: 'Secular One', sans-serif;
    color: white;
    padding: 0px;
    margin: 18px 0 0 0;
    text-shadow: 1px 2px black; 
    font-size: 2em;   
    }
}


/*For Mobile devices*/
 @media (max-width: 767px){
    #collapsable-menu2{
        margin: 0px;
        width: 50%;
        float: left;
        border-right: 1px solid white;       
    }
    
    #collapsable-menu1{
        margin: 0px;
        width: 50%;
        float: right;
    }
    
    .navbar-collapse a{
        text-align: center;        
    }
}

