
#tiles-section{
    margin-top: 10px;
}
/*Target left section descriptions LIKE A BOSS!*/
#left-section > div > a > div{
    min-height: 65px;
    padding: 0px;
    margin-top: 10px;
} 
#left-section > div > a > div:nth-child(2){
    padding-top: 10px;
    text-align: center;
}

#left-section > div{
    background-color: #ededed;
    
} 
#tiles-section #left-section > div:hover{
    border: 1px solid black;
}
#tiles-section #left-section > div  > a  img{
    max-height: 100px;
    max-width: 100px;
}
 

#right-section > div  div {
    /*weird properties for making text middle*/
    height: 80px;
    margin-bottom: 10px;
    display: table; 
    padding: 2px;
    text-align: center;  
    transition: width 2s;    
}

#right-section span{
    display: table;
    height: 80px;
    text-align: center;
    margin-left: 5%;
}

#right-section span p{
    display: table-cell;
    vertical-align: middle;   
    font-size: 1.2em;
}

a{
    color: black;
}

#right-section > div{
    padding: 0 5px 20px 5px;;
}
#right-section #below-hr div{
    padding: 0px;
}
#right-section{
    padding: 0px;
}
#right-section #below-hr > div{
    margin-bottom: 10px;
    padding-left: 10px;
} 

#right-section #below-hr > div > a figure{
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 140px;    
}
#right-section #below-hr > div figcaption{
    width: 140px;
    margin: 0px;
    background-color: skyblue;    
}
#right-section #below-hr > div > a figure:hover{
    border: 1px solid black;   
}


.placement{
  background-color: #8A9045;  
}
.admission{
  background-color: #6591ae;  
}
.testimonial{
   background-color: #7d7b7b; 
}
.awards{
 background-color: #a88b60;   
}
.cocurricular{
  background-color: #c16622;  
}
.extension{
  background-color: #a5615a;  
}
hr{
    width:100%;
    border: none 0;
    border-top: 1px solid black;
    background: #fff;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#external-links{
    margin: 10px 0;
}
#external-links > p{
    font-size: 1.5em;
    margin: 0px;
    padding: 0px;
}
#external-links .row .social > a > img{
    max-height: 50px;
    max-width: 50px;
}

#external-links .row .student > a >  img{
    max-width: 120px;
    max-height: 100px;
}
#map{
    max-height: 150px;
    margin: 0 auto;
}
#external-links .social{
    padding: 6%;
}
#external-links img{
    margin: 0 auto;
}
#external-links .student {
    padding-top: 6%;
    padding-left: 0px;
    padding-right: 0px;
}

#tiles-section #right-section > div > a >div:hover{
    width: 105%;   
    animation-name: tileAnimate;
    animation-duration: 4s;
}
@keyframes tileAnimate {
    to {background-color: yellow;}
}

#gallery img{
    margin: 0 auto;
}

#gallery-phone > div > div >a> span{
    display: table;
    margin: 0 auto;
    font-size: 5em;
    padding: 10px;
}

#gallery-phone a button{
    margin-top: 2%;
}
#gallery-phone a:hover{
    text-decoration: none;
}

#gallery-phone > a > button {
    padding: 0px;
} 




/*For Mobile devices*/
 @media (max-width: 767px){
    #collapsable-menu2{
        margin: 0px;
        width: 50%;
        float: left;
        border-right: 1px solid white;       
    }
    
    #collapsable-menu1{
        margin: 0px;
        width: 50%;
        float: right;
    }
    
    .navbar-collapse a{
        text-align: center;        
    }
       
    #right-section > div > div{
        margin-top:10px;
        margin-bottom: 0px;
    }
    #right-section{
        margin-top: 10px;
    }

    #external-links .row .student > a >  img{
    max-width: 90px;
    max-height: 100px;
    }
    
    header #navbar > .container-fluid > a > button{
       width: 85%; 
       float: left;
       margin-top: 0px;    
       margin-bottom: 5px;
       margin-left: auto;
       margin-right: auto;   
    }
    header #navbar > .container-fluid > div > button{
        border-width: 0;
        float: right;
        margin-top: 2px;    
    }
 }


    

