#navbar a{
  padding: 5px 10px;
  margin: 2px 5px;  
  font-size: 0.84em;
  color: white
}

#navbar{
    background-color: #333;
    min-height:35px;
    margin: 0px;
    border-radius: 0px;
    border: 0px;
}

#navbar a:hover{
    background-color: black;
}

#logo-div{
   margin: 0px;
   padding: 0px;
   background: -moz-linear-gradient(45deg, rgba(255,13,49,1) 7%, rgba(214,9,37,1) 33%, rgba(128,3,13,1) 89%, rgba(128,3,13,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(7%, rgba(255,13,49,1)), color-stop(33%, rgba(214,9,37,1)), color-stop(89%, rgba(128,3,13,1)), color-stop(100%, rgba(128,3,13,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(255,13,49,1) 7%, rgba(214,9,37,1) 33%, rgba(128,3,13,1) 89%, rgba(128,3,13,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(255,13,49,1) 7%, rgba(214,9,37,1) 33%, rgba(128,3,13,1) 89%, rgba(128,3,13,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(255,13,49,1) 7%, rgba(214,9,37,1) 33%, rgba(128,3,13,1) 89%, rgba(128,3,13,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(255,13,49,1) 7%, rgba(214,9,37,1) 33%, rgba(128,3,13,1) 89%, rgba(128,3,13,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80030D', endColorstr='#FF0D31',GradientType=1 ); /* ie6-9 */
}

#logo-div img{
   max-width: 130px;
   max-height: 100px; 
}

#logo-div h1{
    font-family: 'Secular One', sans-serif;
    color: white;
    padding: 0px;
    margin:5px 0 0 0;
    text-shadow: 1px 2px black;    
}

#logo-div h4{
    padding: 0px;
    margin-top: 0px;
    color: white
}

.logo-text-area{
    padding: 0px !important;
}

.carousel-inner img{
    height: 273px !important;
    width: 100%;
}

.carousel-caption{
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
    font-size: 25px;
    color: white;
    text-shadow: 1px 1px black;
}

figure img {
    width: 100%;
}

figure {
    text-align: center;
    display: table;
    max-width: 30%; 
    margin: 10px auto;
}
    
.affiliations{
    margin: 5px 5px 0px 5px;;
    background-color: #ededed;
}
.affiliations img{
    width: 75px;
    height: 68.67px;
}

#tiles-section{
    margin-top: 10px;
}
/*Target left section descriptions LIKE A BOSS!*/
#left-section > div > a > div{
    min-height: 65px;
    padding: 0px;
    margin-top: 10px;
} 
#left-section > div > a > div:nth-child(2){
    padding-top: 10px;
    text-align: center;
}
#left-section > div{
    background-color: #ededed;
} 
 

#right-section > div > div {
    /*weird properties for making text middle*/
    height: 80px;
    margin-bottom: 10px;
    display: table; 
    padding: 2px;
    text-align: center;  
}
#right-section > div > div >p{
    /*weird properties for making text middle*/
    line-height: normal;
    display: table-cell;
    vertical-align: middle;
}
#right-section > div{
    padding: 0 5px 20px 5px;;
}
#right-section #below-hr div{
    padding: 0px;
}
#right-section{
    padding: 0px;
}
#right-section #below-hr > div{
    margin-bottom: 10px;
    padding-left: 10px;
} 
#right-section #below-hr > div img{
    height: 140px;
    width: 140px;
}
#right-section #below-hr > div figure{
    height: 140px;
    width: 140px;
    margin: 0px;
}
#right-section #below-hr > div figcaption{
    width: 140px;
    margin: 0px;
    background-color: skyblue;    
}


.placement{
  background-color: #8A9045;  
}
.admission{
  background-color: #6591ae;  
}
.testimonial{
   background-color: #7d7b7b; 
}
.awards{
 background-color: #a88b60;   
}
.cocurricular{
  background-color: #c16622;  
}
.extension{
  background-color: #a5615a;  
}
hr{
    width:100%;
    border: none 0;
    border-top: 1px solid black;
    background: #fff;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/*For small devices*/
@media (max-width: 992px) { 
#logo-div img{
    max-width: 100px;
    max-height: 80px; 
    }

#logo-div h1{
    font-family: 'Secular One', sans-serif;
    color: white;
    padding: 0px;
    margin: 18px 0 0 0;
    text-shadow: 1px 2px black; 
    font-size: 2em;   
    }
#tiles .col-xs-5, #tiles .col-xs-3{
    min-height: 87.23px;
    }
}


/*For Mobile devices*/
 @media (max-width: 767px){
    #collapsable-menu2{
        margin: 0px;
        width: 50%;
        float: left;
        border-right: 1px solid white;       
    }
    
    #collapsable-menu1{
        margin: 0px;
        width: 50%;
        float: right;
    }
    
    .navbar-collapse a{
        text-align: center;        
    }
    
    #tiles h4{
        margin-left: 2%;
    }
    
    #right-section > div > div{
        margin-top:10px;
        margin-bottom: 0px;
    }
    
    #right-section #below-hr > div > a figure{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
    
}

