#navbar a{
  padding: 5px 10px;
  margin: 2px 5px;  
  font-size: 0.84em;
  color: white
}

#navbar{
    background-color: #333;
    min-height:35px;
    margin: 0px;
    border-radius: 0px;
}

#navbar a:hover{
    background-color: black;
}

#logo-div{
   margin: 0px;
   padding: 0px;
}

#logo-div img{
   max-width: 130px;
   max-height: 100px; 
}

#logo-div h1{
    font-family: 'Secular One', sans-serif;
    color: red;
    padding: 0px;
    margin:0px;
    text-shadow: 1px 2px black;    
}

#logo-div h4{
    padding: 0px;
    margin-top: 0px;
}

.logo-text-area{
    padding: 0px !important;
}

.carousel-inner img{
    height: 273px !important;
    width: 100%;
}

.carousel-caption{
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    text-shadow: 2px 2px black;
    
    
}

/*For small devices*/
@media (max-width: 992px) { 
#logo-div img{
    max-width: 100px;
    max-height: 80px; 
}

#logo-div h1{
    font-family: 'Secular One', sans-serif;
    color: red;
    padding: 0px;
    margin: 18px 0 0 0;
    text-shadow: 1px 2px black; 
    font-size: 2em;   
    }
}


/*For Mobile devices*/
 @media (max-width: 767px){
    #collapsable-menu2{
        margin: 0px;
        width: 50%;
        float: left;
        border-right: 1px solid white;       
    }
    
    #collapsable-menu1{
        margin: 0px;
        width: 50%;
        float: right;
    }
    
    .navbar-collapse a{
        text-align: center;        
    }
}

